.table {
    /*align-self: center;
    text-align: center;*/
    justify-content: center;
    margin-left: 0;
    display: flex;   
}
.teams {
    text-align: start;
    font-weight: bold;   
}
.points{
    font-weight: bold;
}
h3 {
    text-decoration: underline;
    background: rgb(60, 119, 190);
    text-align: center;
    /* padding: 25px; */
    flex: 1;
}
p {
    font-size: 10px;
    border-bottom: 1px ridge;
    padding-bottom: 3px;
}