.table {
    width: 100%;
    justify-content: center;
}

.table-Container {
    display: flex;
    background: rgb(60, 119, 190);
    
    
}
.list-team {
    flex: 4;
    text-align: center;
}

.list {
    flex: 1;
}

.lines {
    display: flex;
    border-bottom: 1px ridge;
    padding-bottom: 3px;
    
}

.names {
    flex: 1;
    font-weight: bold;
}

.prem-points {
    display: flex;
    flex: 1;
}
.scores-item {
    flex: 1;
}
.points {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .list-team {
        flex: 1;
        
    }
  }