.scores {
    font-family: sans-serif;
    font-size: 15px;
    border-bottom: 1px ridge rgba(70, 70, 70, 0.2);
}

.team-home {
    flex: 3;
    text-align: right;
    font-weight: 600;
} 

.team-away {
    flex: 3;
    font-weight: 600;
} 

.pred-button {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.match-dates {
    text-align: center;
    padding-bottom: 10px;
}

.team-vs-team {
    font-style: italic;
    text-align: center;
    flex: 1;
}
.scores-of-matches {
    display: flex;
    justify-content: center;
    position: relative;
}

.match-predictions {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .match-parent-div {
        overflow: scroll;
        height: 80vh;
    }
}   