.scores {
    text-align: center;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px ridge rgba(70, 70, 70, 0.2);
}

.match {
    font-family: sans-serif;
    font-weight: bold;
}

.pred-button {
    padding: 5px;
}

.match-center {
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .match-parent-div {
        overflow: scroll;
        height: 80vh;
    }
}   