.Cltable {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

  #scroller {
    overflow: scroll;
    height: 90vh;
    width: 100vw;
  }
  

  .content {
    display: grid;
    flex: 1;
    
  }
  .head {
    background: #f4f4f4;
    padding: 10px;
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }

  .uefa-cl-group-year {
    background: #02024D;
    padding: 15px;
    font-family: sans-serif;
    font-style: 17px;
    color: white;
    text-align: center;
  }

  .champions {
    display: flex;
    padding: 10px;
    border-bottom: 1px ridge;
  }
  .Teams {
    flex: 4;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200; 
    margin-left: 10px;
  }

  .table-position-hashtag {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-left: 10px;
  }

  .c-Teams {
    flex: 4;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
  }

  .li-position {
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .li {
    flex: 1;
    text-align: center;
  }
