  .App{
    background-image: url(../Images/campo2.jpg); 
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .form{
    padding-top: 240px;
    flex: 1;
    height: 300px;
  }
  .name{
    outline: none;
    margin:  20px auto;
    width: 200px;
    border: 0px;
    font-size:1em;
    display: flex ;
    justify-content: center;
    height: 40px;
    border-radius: 3px;
  }
  .link {
    text-decoration: none;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
    width: 150px;
    border-radius: 5px;
  }
  .logo{
    padding: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
  }
  .layout {
    display: flex;
  }
  .cris {
    width: 30%;
    flex: 1;
    align-self: flex-end;
 }
 .messi {
   width: 30%;
   flex: 1;
   align-self: flex-end;
 }
 
  @media screen and (max-width: 600px) {
    .messi {
      display: none;
    }
    .cris {
      display: none;
    }
    .form {
    padding-top: 150px;
    justify-content: center;
    padding-left: 25%;
    }
    .logo {
      margin-bottom: 0;
    }
  }
