.container-userpage {
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .container-userpage {
      width: 100%;
    }
}    

.tabs {
    justify-items: center;
}
